/* Forside */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #f9fdf9;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.offer {
    background-color: #f9fdf9;
    border: 2px solid #CF0300;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
}
button {
    background-color: #CF0300;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #A50300;
}
footer {
    background-color: #870000;
    color: white;
    text-align: left;
    padding: 2rem;
    margin-top: 2rem;
}
footer h2 {
    color: #fffcfc;
}
footer form {
    margin-top: 1rem;
}
footer input[type="email"] {
    padding: 0.5rem;
    width: 60%;
    max-width: 300px;
}


